
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
</head>

@Html.Partial("_TopNavbar")

<body class="gray-bg">
    <div class="text-center loginscreen">
        <div class="wrapper">
            <div class="wrapper white-bg">
                <div class="row">
                    <div class="col-lg-3">
                        <div onclick="Redirect();" class="widget navy-bg p-lg text-center animated bounceIn" style="margin-top:40px;">
                            <div class="m-b-md">
                                <i class="fa fa-calculator fa-4x"></i>
                                <b><h1 class="m-xs">FACTURACIÓN</h1></b>
                            </div>
                        </div>
                        <div onclick="Redirect();" class="widget navy-bg p-lg text-center animated bounceIn" style="margin-top:100px;">
                            <div class="m-b-md">
                                <i class="fa fa-book fa-4x"></i>
                                <b><h1 class="m-xs">INVENTARIO</h1></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/Content/img/payroll.jpg" alt="dashboard" class="img-responsive animated fadeInUp" style="height:469px; width:626px; margin-top:40px; margin-bottom:40px;">
                    </div>
                    <div class="col-lg-3">
                        <a href="@Url.Action("Index","Inicio")">
                            <div class="widget navy-bg p-lg text-center animated bounceIn" style="margin-top:40px;">
                                <div class="m-b-md">
                                    <i class="fa fa-users fa-4x"></i>
                                    <b><h2 class="m-xs">RECURSOS HUMANOS</h2></b>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Action("Index","Menu")">
                            <div class="widget navy-bg p-lg text-center animated bounceIn" style="margin-top:75px;">
                                <div class="m-b-md">
                                    <i class="fa fa-money fa-4x"></i>
                                    <b><h1 class="m-xs">PLANILLA</h1></b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/plugins/slimScroll")
@*@Scripts.Render("~/bundles/inspinia")*@
    <script>
    function Redirect()
         { location.href = "Index.html"; }
    </script>
    @*<script src="js/demo/flot-demo.js"></script>*@
    <div id="flotTip" style="display: none; position: absolute; background: rgb(255, 255, 255); z-index: 100; padding: 0.4em 0.6em; border-radius: 0.5em; font-size: 0.8em; border: 1px solid rgb(17, 17, 17); white-space: nowrap; left: 389px; top: 434px;"></div>
</body>
<!-- Section for main scripts render -->
</html>
